PAR part 2

On completion of:

- RFC 7591 - Dynamic Client Registration
- RFC 7523 - Client Assertions
- RFC 9101 - JWT Secured Authorization Requests

we can be integrated into the PAR request.

Also, we can now make them mandatory using client/server metadata.